# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
<ul>
        <li>Python</li>
        <li>R</li>
        <li>SQL</li>
        <li>Scala</li>
        <li>Java</li>
</ul>

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. Keras
3. TensorFlow

|Data Science Tools|
|-|
|Jupyter Notebook|
|RStudio|
|NumPy|

### Below are a few examples of evaluating arithmetic expressions in Python.

Addition:

x=1

y=1

z=x+y

print(z)

output = 2

---

Substraction:

x=1

y=1

z=x-y

print(z)

output = 0

---

Multiplication:

x=1

y=1

z=x*y

print(z)

output = 1

---

Division:

x=1

y=1

z=x/y

print(z)

output = 1

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Abdulaziz